/* REMOVING THE FOLLOWING LINE WILL BREAK THE STYLING OF THE APPLICATION */
@import '../../global/app.css';


:root {
  --c-primary: #e46450;
  --c-primary-light: #002d55;
  --c-primary-lighter: #fac3af;
  --c-primary-lightest: #2481ff;
  --c-tertiary: #ebf5ff;
  --font-sans: "Helvetica Neue", "Open Sans", Arial, sans-serif;
  --c-gray: #554f4a;
}

mark {
  color: #e60005;
  background-color: white;
}