/* REMOVING THE FOLLOWING LINE WILL BREAK THE STYLING OF THE APPLICATION */
@import '../../global/app.css';


:root {
  --c-primary: #e60005;
  --c-primary-light: #eb8264;
  --c-primary-lighter: #fac3af;
  --c-primary-lightest: #2481ff;
  --c-tertiary: #ebf5ff;
}